/*about us */
body{
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #D8E3EC;
}

.about-section{
  background: url(https://d33wubrfki0l68.cloudfront.net/26824642c35d877d1ba786e77072586e6ae81467/e3eca/assets/img/photos/home-background.jpg) no-repeat left;
  background-size: 55%;
  background-color: #D8E3EC;
  overflow: hidden;
  padding: 100px 0;
}

.inner-container{
  width: 55%;
  float: right;
  background-color: #f1f1f1;
  padding: 30;

}

.inner-container h1{
  margin-bottom: 15px;
  font-size: 30px;
  font-weight: 900;
}

.text{
  font-size: 15px;
  color: #545454;
  line-height: 29px;
  text-align: justify;
  margin-bottom: 30;
}


@media screen and (max-width: 1200px){
  .inner-container{
    padding:80px;
  }
}
@media screen and (max-width: 1000px){
  .about-section{
    background-size: 100%;
    padding: 100px 40px;
  }
  .inner-container{
    width:100%;
  }
}
@media screen and (max-width: 1000px){
  .about-section{
    padding: 0;
  }
  .inner-container{
    padding: 60px;
  }
}
